@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="row m-4">
        <a asp-area="Counsellor" asp-controller="Home" asp-action="Index" class="btn btn-primary"><< Back</a>
    </div>
    <div class="row m-4">
        <div class="card">
            <div class="card-header">
                <h5 class="card-category">Applicants</h5>
                <h4 class="card-title">Create Applicants</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" asp-controller="Counsellor" asp-action="Create">
                        <label>Name</label>
                        <div class="form-group">
                            <input type="text" name="Name" class="form-control" required="true">
                        </div>
                        <label>Date</label>
                        <div class="form-group">
                            <input type="date" name="Date" class="form-control" required="true">
                        </div>
                        <label>Venue</label>
                        <div class="form-group">
                            <input type="text" name="Venue" class="form-control" required="true">
                        </div>
                        <label>Issue</label>
                        <div class="form-group">
                            <input type="text" name="Issue" class="form-control" required="true">
                        </div>
                        @*<div class="form-check mt-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox">
                                <span class="form-check-sign"></span>
                                Subscribe to newsletter
                            </label>
                        </div>*@
                        <div class="card-footer ">
                            <button type="submit" class="btn btn-fill btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @*</div>*@
    </div>
</div>


